{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" id="container-nav">
                <ul class="nav navbar-nav center-block">
                    <li><a href="{{ path('upload') }}"><i class="fa fa-upload"></i></a></li>
                    <li><a href="{{ path('homepage') }}">
                            <h1>Movember</h1>
                            <img src="{{ asset('bundles/mov/img/mustache.png') }}" alt="" width="70px" />
                        </a>
                    </li>
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-th"></i></a></li>
                </ul>
            </div><!-- /.container-fluid -->
        </nav>
    </header>
{% endblock %}
{% block body %}

    <br><br>


    <section>
        <h2>Voir les moustaches à proximité</h2>
        <div class="row">
            <div class="col-xs-12">
                <div id="map">
                    <img src="{{ asset('bundles/mov/img/map.png') }}" alt="" width="100%" />
                </div>
            </div>
        </div>
    </section>
    <br><br>
    {% for photo in photos %}
        <div class="col-xs-3">
            <a data-toggle="modal" data-target="{{ '#' ~ photo.id }}">
                    <img src="{{ vich_uploader_asset(photo, 'image', 'MovBundle\\Entity\\Photos') }}" width="100%">
            </a>
        </div>
        <div class="modal fade" id="{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="photomodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    <div class="modal-body center-block">
                        <img src="{{ vich_uploader_asset(photo, 'image', 'MovBundle\\Entity\\Photos') }}" width="100%" >
                        <br>
                        <div class="ratings"></div>
                        <br>
                        {{ photo.adresse }}
                        {{ photo.lat }}
                        {{ photo.lgt }}
                        <ul class="social-buttons cf">
                            <li>
                                <a href="http://twitter.com/share" class="socialite twitter-share" data-text="Socialite.js" data-url="{{ app.request.getUri }}" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/share?url={{ app.request.getUri }}" class="socialite googleplus-one" data-size="tall" data-href="{{ app.request.getUri }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/sharer.php?u={{ app.request.getUri }}" class="socialite facebook-like" data-href="{{ app.request.getUri }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    {% endfor %}

{% endblock %}
