{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" id="container-nav">
                <ul class="nav navbar-nav center-block">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-th"></i></a></li>
                    <li><a href="{{ path('homepage') }}">
                            <h1>Movember</h1>
                            <img src="{{ asset('bundles/mov/img/mustache.png') }}" alt="" width="70px" />
                        </a>
                    </li>
                    <li><a href="{{ path('map') }}"><i class="fa fa-street-view"></i></a></li>
                </ul>
            </div><!-- /.container-fluid -->
        </nav>
    </header>
{% endblock %}
{% block body %}

    <h1>Publier une nouvelle photo</h1>
    <div class="col-xs-12">
        <div class="thumbnail" id="thumbnail-upload">
            <i class="fa fa-upload" id="upload-icon"></i>
            <div class="caption">
                {{ form_start(new) }}
                {{ form_errors(new.image) }}
                {{ form_widget(new.image) }}
                <br><br>
                <input type="submit" value="Publier" />
                {{ form_end(new) }}
            </div>
        </div>
    </div>

{% endblock %}